@tailwind base;
body{
    @apply bg-gray-700
}
.header{
    @apply font-Lato text-2xl text-white;
}
@tailwind components;

@tailwind utilities;

@font-face{
    font-family:'Lato';
    src:url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;

    font-family:'Lato';
    src:url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: normal;

    font-family:'Lato';
    src:url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: medium;
}