@tailwind base;
body{
    @apply bg-gray-700
}
.header{
    @apply font-Lato font-bold text-4xl text-white;
}

@tailwind components;
.score-text{
    @apply font-Lato font-normal text-xl text-white;
}
.addButton{
    @apply bg-slate-50 rounded-lg ml-3 p-1;
}
.playerBody{
    @apply text-black font-normal text-base font-Lato;
}
.inputFields{
    @apply p-1 ml-1 text-xl;
}

@tailwind utilities;

@font-face{
    font-family:'Lato';
    src:url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face{
    font-family:'Lato';
    src:url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face{
    font-family:'Lato';
    src:url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
}